<div class="content">
  <h1>Mine <div style="color:#802BB1;">Uddannelser</div>
  </h1>
</div>

<div class="wrapper">
  <div id="first" class="education-info">
    <h1>Datamatiker</h1>
    <h2>2016 - 2019</h2>
    <h3>"Som datamatiker kan du designe og programmere it-systemer samt arbejde med databaser.
      På uddannelsen får du indsigt i programmering og konstruktion af it-systemer, og du vil lære at kode i bl.a.
      Java og C# og designe databaser, så de opfylder kravene til godt databasedesign. Samtidig vil du få en
      forståelse
      for,
      hvordan en virksomhed fungerer, og hvordan man kan indføre nye IT-systemer i en virksomhed."
      <a href="https://www.ucn.dk/uddannelser/datamatiker" target="_blank"> -University College Nordjylland</a>
    </h3>
  </div>

  <div id="second" class="education-info">
    <h1>2-årige STX</h1>
    <h2>2012 - 2014</h2>
    <h3>
      "På Aalborg City Gymnasium har du mulighed for at tage en studentereksamen på to år i stedet for de normale tre
      år.
      En studentereksamen fra Aalborg City Gymnasium giver dig nøjagtig de samme muligheder, som hvis du havde gået på
      en almindelig 3-årig STX,
      den eneste forskel er, at det hos Aalborg City Gymnasium tager ét år mindre."
      <a href="https://www.aalborgcitygymnasium.dk/"> -Aalborg city Gymnasium</a>
    </h3>
  </div>

  <div id="third" class="education-info">
    <h1>It-Supporter Grundforløb</h1>
    <h2>2010 - 2012</h2>
    <h3>"På uddannelsen får du al den grundlæggende viden bag it-systemer og teknologi, som bruges på moderne kontorer
      og virksomheder.
      Samtidig tilegner du dig redskaber, der sætter dig i stand til at tilegne dig viden om alle de nye teknologier
      og
      muligheder,
      der konstant strømmer til faget. Uanset hvor din interesse ligger, kommer du til at arbejde meget med pc og
      informationsteknologi."
      <a href="https://techcollege.dk/alle-uddannelser/datatekniker-og-it-supporter/"> -Tech college</a> </h3>
  </div>

  <div id="fourth" class="education-info">
    <h1>Web-Integrator(webudvikler)</h1>
    <h2>2008 - 2010</h2>
    <h3>"På webudvikleruddannelsen lærer du om alle de elementer, der indgår i at bygge dynamiske og avancerede
      websites
      eller andre internetløsninger:
      kodning i HTML, CSS og JavaScript, objektorienteret programmering, strukturering af arbejdsprocesser,
      navigationsdesign, billedbehandling og
      integration af (relations)databaser, animationer, grafik, tekst osv. Du kommer også til at arbejde med
      e-handel/webshops, applikationsudvikling og
      opsætning af webservere, herunder tilpasning og vedligeholdelse af præfabrikeret CMS-software."
      <a href="https://techcollege.dk/alle-uddannelser/webudvikler/"> -Tech College</a></h3>
  </div>
</div>