<div class="content">
  <div class="wrap">
    <h1 id="edu">Datamatiker</h1>
    <h1 id="edu" style="color: #D1D7E0;">Web-Integrator</h1>

    <h1 id="name">
      <div style="color: white; display: inline-block;">Thais</div> Gilkrog
    </h1>

    <ul>
      <li>
        <a href="https://github.com/tgilkrog" target="_blank"><i class="fab fa-github fa-3x"></i></a>
      </li>
      <li>
        <a href="https://dk.linkedin.com/in/thais-gilkrog" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
      </li>
    </ul>

    <a href="assets/CV-ThaisGilkrog.pdf" target="_blank" class="btn btn3">Download mit CV</a>

    <div class="spacing"></div>
    <ul>
      <li>
        <h1><a id="lin" routerLink="/Uddannelse">Uddannelse</a></h1>
      </li>
      <li>
        <h1><a id="lin" routerLink="/Kompetencer">Kompetencer</a></h1>
      </li>
      <li>
        <h1><a id="lin" routerLink="/Projekter">Projekter</a></h1>
      </li>
      <li>
        <h1><a id="lin" routerLink="/Om Mig">Om Mig</a></h1>
      </li>
    </ul>

  </div>
</div>