<div class="content">
  <h1>Om <div style="color:#802BB1; display: inline-block;">Mig</div>
  </h1>

  <div class="about-info">
    <div class="portrait"></div>

    <div class="bio">
      <h2>Personlig Beskrivelse</h2>
      <p>
        Jeg har programmeret siden jeg startede min uddannelse som web-integrator tilbage i 2008, og har siden da haft
        en stor passion for programmering. Derfor valgte jeg at tage Datamatiker uddannelsen for at forbedre mine
        kompetencer yderligere.
        <br /> <br />
        I min fritid kan jeg selvfølgelig godt lide at programmere, og se hvad der rører sig af nye teknologier, men
        også spille forskellige pc spil.
        Jeg motionerer omkring 3 gange om ugen, i det lokale motions center,
        da man som programmør sidder meget på sin bagdel. Derfor kan jeg godt lide at forsøge på at være i nogenlunde
        god
        form, og spise forholdsvist sundt.
      </p>
    </div>
  </div>
  <div class="contact">
    <div class="box">
      <span><i class="fas fa-envelope fa-1x"></i> Email: </span> tgilkrog@gmail.com
    </div>
    <div class="box">
      <span><i class="fas fa-mobile fa-1x"></i> Mobil: </span> 51 93 33 45
    </div>
    <div class="box">
      <span><i class="fas fa-map-marker fa-1x"></i> Placering: </span> Nordjylland
    </div>
  </div>
</div>