<div class="content">
  <h1>Mine <div style="color:#802BB1; display: inline-block;">Kompetencer</div>
  </h1>

  <div class="boxes">
    <ul>
      <h1>Sprog</h1>
      <li>
        <i class="fas fa-check"></i>
        <h2>C#</h2>
      </li>
      <li>
        <i class="fas fa-check"></i>
        <h2>Java</h2>
      </li>
      <li id="second">
        <i class="fas fa-check"></i>
        <h2>Javascript</h2>
      </li>
      <li id="second">
        <i class="fas fa-check"></i>
        <h2>Html</h2>
      </li>
      <li id="third">
        <i class="fas fa-check"></i>
        <h2>CSS</h2>
      </li>
      <li id="third">
        <i class="fas fa-check"></i>
        <h2>SASS</h2>
      </li>
      <li id="third">
        <i class="fas fa-check"></i>
        <h2>PHP</h2>
      </li>
    </ul>

    <ul>
      <h1>Frameworks</h1>
      <li id="second">
        <i class="fas fa-check"></i>
        <h2>Angular</h2>
      </li>
      <li id="second">
        <i class="fas fa-check"></i>
        <h2>React</h2>
      </li>
      <li id="second">
        <i class="fas fa-check"></i>
        <h2>ASP.NET</h2>
      </li>
      <li id="third">
        <i class="fas fa-check"></i>
        <h2>Node</h2>
      </li>
      <li id="fourth">
        <i class="fas fa-check"></i>
        <h2>Bootstrap</h2>
      </li>
      <li id="fourth">
        <i class="fas fa-check"></i>
        <h2>XML</h2>
      </li>
    </ul>

    <ul>
      <h1>Andet</h1>
      <li id="third">
        <i class="fas fa-check"></i>
        <h2>API</h2>
      </li>
      <li id="third">
        <i class="fas fa-check"></i>
        <h2>JQuery</h2>
      </li>
      <li id="third">
        <i class="fas fa-check"></i>
        <h2>Json</h2>
      </li>
      <li id="third">
        <i class="fas fa-check"></i>
        <h2>MSSQL / MySQL</h2>
      </li>
      <li id="fourth">
        <i class="fas fa-check"></i>
        <h2>Git</h2>
      </li>
      <li id="fourth">
        <i class="fas fa-check"></i>
        <h2>Microsoft office</h2>
      </li>
    </ul>
  </div>
</div>